h1 {
    color: #0000CD;
    font-size: 24px;
    text-align: center;
}

h2 {
    color: #0000CD;
    font-size: 24px;
    text-align: center;
}

h6 {
    color: #0000CD;
    font-size: 24px;
    text-align: center;
}

.pizz {
    text-align: center;
}
